/* ВНУТРЕННИЙ GRID (4 колонки) */
.content-grid {
    display: grid;
    grid-template-rows: 15em 200px 200px;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 10px;
}

.item {
    border: 1px solid black;
    padding: 10px;
}

/* ОСНОВНОЙ GRID С AREAS */
.grid-container {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "sidebar content";
        
    grid-template-columns: 150px 5fr;
    grid-template-rows: 150px 5fr 150px;
    gap: 10px;
}

/* ВАЖНО — без кавычек */
.header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
}

main {
    grid-area: content;
}